body {
    font-family: 'Open Sans', sans-serif;
}

.linear-back {
    background: linear-gradient(90deg, rgba(2,119,233,1), rgba(61,211,246,1));
}

.navbar-default {
    color: white;
}

.logo-color {
    background: linear-gradient(90deg, rgba(2,119,233,1), rgba(61,211,246,1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
    .respons-display {
        font-size: 2.5rem;
    }
}

.card {
    border: none;
}

.btn-primary-outline {
    background-color: transparent;
    border: none
}

.btn-primary-outline:hover {
    color: #60a0ff;
    background-color: white;
}

.dashboard-text {
    color: rgb(2,119,233);
    background: none;
}

.dashboard-link {
    color: rgba(61,211,246)
}

.form-control {
    border: 0;
}