body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-default {
    background-color:white;
    color: rgb(61, 211, 246) !important;
}

.inset {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 0 2px rgba(255, 255, 255, 0.6),
        0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
    z-index: 999;
}

.inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
    opacity: 0.7;
}

#InputDescription {
    resize: none;
}

.btn-primary-outline {
    color: rgba(61, 211, 246, 1);
    background-color: white;
    border: none
}

.btn-primary-outline:hover {
    background: linear-gradient(90deg, rgba(2, 119, 233, 0.5), rgba(61, 211, 246, 0.5));
    color: rgba(2, 119, 233, 1);
}

.linear-back {
    background: linear-gradient(90deg, rgba(2,119,233,1), rgba(61,211,246,1));
}

.spec-img {
    width: 25%;
    height: 25%;
}