body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-default {
    background: linear-gradient(90deg, rgba(2, 119, 233, 1), rgba(61, 211, 246, 1));
    ;
    color: white;
}

#InputDescription {
    resize: none;
}

.btn-primary-outline {
    background: linear-gradient(90deg, rgba(2, 119, 233, 1), rgba(61, 211, 246, 1));
    color: white;
    border: none
}

.btn-primary-outline:hover {
    background: linear-gradient(90deg, rgba(2, 119, 233, 0.5), rgba(61, 211, 246, 0.5));
    color: rgba(2, 119, 233, 1);
}

.linear-back {
    background: linear-gradient(90deg, rgba(2,119,233,1), rgba(61,211,246,1));
}

.welcome {
	background-color:#7FDBFF;
}